html {
    --bg: #121314;
    --darker-bg: #0a0a0b;
    --border-color: rgb(41, 42, 46);
    --table-bg: #121314;
    --text-color: white;
    --muted-text-color: gray;
    --grid-border-color: #5656563e;
}

.light-root {
    --bg: #fff;
    --darker-bg: #f2f2f2;
    --text-color: black;
    --border-color: #c7c7c7;
}

body {
    background-color: var(--darker-bg);
    color: var(--text-color);
    font-family: "Verdana";
    --sidebar-width: 300px;
    margin: 0;
    scrollbar-color: gray transparent;
}

#darkmode-switch {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
}

a {
    color: inherit;
    text-decoration-style: dotted;
}

a:hover {
    text-decoration-style: solid;
}

a[target="_blank"]::after {
    content: "\2197";
}

#repo-loader {
    display: none;
}

.loading #repo-link,
.loading #repo-name,
.loading #repo-error,
.loading #repo-commits {
    display: none;
}

.loading #repo-loader {
    display: unset !important;
}

label,
#author-github {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    color: var(--muted-text-color);
}

#author-loader {
    display: none;
}

.loading #author-loader {
    display: unset !important;
}

.loading #author-pfp {
    display: none;
}

#oauth-button {
    margin: 20px 0 28px 0;
    width: 115px
}

.flex-row {
    display: flex;
}

.main-container {
    display: flex;
}

.inspect-container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.inspect-section {
    background-color: var(--bg);
    border: solid 1px var(--border-color);
    width: fit-content;
    padding: 5px;
    margin: 0 15px 15px 0;
}

#graph-container {
    max-width: 800px;
    overflow: auto;
    padding-bottom: 15px;
}

#graph-y-labels {
    height: 0;
    position: relative;
}

#graph-y-labels>label {
    position: absolute;
    width: calc(100% - 10px);
    pointer-events: none;
    white-space: preserve;
}

#graph-y-labels>label>span {
    float: right;
}

#graph-y-labels>label>hr {
    opacity: 0.1;
    margin: 0;
    transform: translateY(-0.5lh);
    width: calc(100% - 50px);
    margin-left: 25px;
}

#graph-loader {
    display: none;
    margin: 20px 0;
}

.loading>#graph-container,
.loading>#graph-y-labels {
    display: none;
}

.loading>#graph-loader {
    display: flex;
}

#graph-loader>.loader {
    margin-left: 10px;
}

#graph-loader>span {
    width: 300px;
    margin-left: 10px;
}

/* #graph-section {} */

.info-mark {
    display: inline;
    position: relative;
    text-decoration: underline;
}

.info-mark>div {
    display: none;
    position: absolute;
    width: 380px;
    top: 0;
    background-color: var(--bg);
    left: 0;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.info-mark:hover>div {
    display: block;
}

.pfp {
    width: 64px;
    border-radius: 10px;
    margin-right: 5px;
}

.input-field-row {
    display: flex;
    gap: 15px;
}

.input-field {
    margin-bottom: 15px;
    width: 100%;
}

.input-field>p,
.error {
    color: red;
    font-size: smaller;
    margin-top: 2px;
}

.icon-svg {
    width: 1em;
    margin-right: 5px;
    transform: translateY(2px);

    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(14%) sepia(86%) saturate(5525%) hue-rotate(359deg) brightness(99%) contrast(119%);
}

#project-select {
    border: 1px solid var(--border-color);
    width: fit-content;
    height: 220px;
    overflow: auto;
    width: 100%;
}

#project-select>div {
    padding: 4px 0;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    line-break: anywhere;
    font-size: smaller;
}

.sidebar {
    height: 100vh;
    background-color: var(--bg);
    padding: 0 15px;
    border-right: 1px solid var(--border-color);
    width: 300px;
}

.sidebar>h2 {
    margin-top: 0;
    padding-top: 15px;
}

#view-btn {
    margin-top: 20px;
}

.hour-count {
    float: right;
    margin-right: 15px;
}

.selected-project {
    background-color: var(--border-color);
}

input,
button,
.link-btn {
    border: 1px solid var(--border-color);
    background-color: var(--bg);
    color: inherit;
    font: inherit;
    padding: 8px;
    font-size: smaller;
}

.link-btn,
.link-btn:hover {
    text-decoration: none;
}

input[type=text],
input[type=url] {
    width: calc(100% - 2 * 8px);
}

button {
    cursor: pointer;
}

button:hover,
.link-btn:hover {
    filter: invert(0.2) contrast(1.2);
}

button:disabled {
    filter: brightness(1.0) !important;
    color: var(--muted-text-color);
    cursor: not-allowed;
}

input:focus {
    outline: none;
}

.fill {
    width: 100%;
    height: 100%;
}

.grid-bg {
    background-size: 60px 60px;
    background-image:
        linear-gradient(to right, var(--grid-border-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-border-color) 1px, transparent 1px);
}

.no-drag {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.centered-contents {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 0 auto;
}

.content-container {
    border: 1px solid var(--border-color);
    background-color: var(--darker-bg);
}

table {
    border-collapse: collapse;
}

th {
    border: solid 1px var(--border-color);
    padding: 8px;
    font-size: 12px;
}

.table-header {
    background-color: var(--table-bg);
    position: sticky;
    top: 0;
}

.table-header>th {
    color: var(--text-color) !important;
}